.kid {
    width: 1130px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.box1 {
    width: 220px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box2 {
    width: 95%;
    height: 95%;


}

.box3 {
    width: 100%;
    height: 70%;
    background: #F3F2F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.myimage {
    width: 100px;
    height: 60%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.like {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}

.radi {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.radio1 {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.radio2 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFBE18;
}

.radio3 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #B0B0B0
}

.dat {
    width: 100%;
    height: 80px;
}

.selar {
    width: 100%;
    height: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titl {
    width: 110px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}

.dolor {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.add {
    width: 100%;
    height: 45%;
    display: flex;
    align-items: end;

}

.add1 {
    color: #3485FF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.comp {
    width: 1130px;
    height: 180px;
    display: flex;
    justify-content: space-around;
}

.comp1 {
    width: 220px;
    height: 100%;
}

.compimg {
    width: 220px;
    height: 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    opacity: 0.7;
    background: #1D1D1D;
}

.compnam {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.comp4 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.imgbg{
    width:70px;
    height:80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img3{
    width: 220px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.6;
}