.content {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.kid {
    width: 100%;
    height: 150px;
    background: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foote {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foote1 {
    color: #A4A4A4;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.ord {
    width: 200px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footetext {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.order {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: #3485FF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}